<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <b>{{user.Comments.length}} </b>已評論餐廳
  </div>
  <div class="card-body">
    {{#if user.Comments.length}}
         {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="img-fluid" src="{{this.Restaurant.image}}" alt="Card image cap"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        </a>
        <p class="card-text">
          <a href="/restaurants/{{this.Restaurant.id}}">
            {{this.Restaurant.name}}
          </a>
        </p>
        {{/each}}
    {{else}}
    <p class="card-text">您尚未留下評論</p>
      {{/if}}
  </div>
</div>